.prices {
	position: relative;
  padding: 239px 0 232px;
	background: url('/img/prices-bg.jpg') no-repeat;
	background-position: 10% 50%;
}

.prices__inner {
	@include wrapper;
}

.prices__row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: -15px;
	margin-left: -15px;
}

.prices__content {
	position: relative;
	flex: 0 0 41%;
	max-width: 41%;
	font-size: 0;
	padding-right: 15px;
	padding-left: 15px;
}

.prices__title {
  display: block;
  margin-bottom: 51px;
  font-family: $comfortaa-bold;
  font-size: 38px;
  line-height: 48px;
  color: #26272d;
}

.prices__text {
	display: block;
	margin-bottom: 70px;
	font-size: 20px;
	line-height: 28px;
	color: $gray;
}

.prices__link {
	position: relative;
	display: inline-block;
	vertical-align: top;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.prices__link-icon {
	position: absolute;
	top: 50%;
	right: 16px;
	width: 13px;
	height: 11px;
	margin-top: -5px;
	background: url('/img/icon-sprite.png') no-repeat;
	background-position: -270px -206px;
	transition: transform 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.prices__link:hover {
	.prices__link-icon {
		background-position: -304px -206px;
		transform: translateX(5px);
	}
}


@media (max-width: 1599px) {
	.prices {
		background-size: 50%;
	}
}

@media (max-width: 1199px) {
	.prices {
		background-size: 40%;
	}

	.prices__content {
		flex: 0 0 50%;
		max-width: 50%;
	}
}


@media (max-width: 1023px) {
	.prices {
		background-size: 50%;
    background-position: 94% 4%;
	}

	.prices__row {
		display: block;
	}

	.prices__content {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.prices {
		padding: 40px 0;
    background-size: 30%;
	}

	.prices__title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 30px;
	}

	.prices__text {
		margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
	}
}


@media (max-width: 360px) {
	.prices__link {
		width: 100%;
		text-align: center;
	}
}