@font-face {
  font-family: 'ComfortaaRegular';
  src: url('../fonts/ComfortaaRegular.eot');
  src: url('../fonts/ComfortaaRegular.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaRegular.woff2') format('woff2'),
       url('../fonts/ComfortaaRegular.woff') format('woff'),
       url('../fonts/ComfortaaRegular.svg#ComfortaaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComfortaaBold';
  src: url('../fonts/ComfortaaBold.eot');
  src: url('../fonts/ComfortaaBold.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaBold.woff2') format('woff2'),
       url('../fonts/ComfortaaBold.woff') format('woff'),
       url('../fonts/ComfortaaBold.svg#ComfortaaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/LatoRegular.eot');
  src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
       url('../fonts/LatoRegular.woff2') format('woff2'),
       url('../fonts/LatoRegular.woff') format('woff'),
       url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/LatoBold.eot');
  src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
       url('../fonts/LatoBold.woff2') format('woff2'),
       url('../fonts/LatoBold.woff') format('woff'),
       url('../fonts/LatoBold.svg#LatoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
