$lato-regular: 'LatoRegular';
$lato-bold: 'LatoBold';
$comfortaa-regular: 'ComfortaaRegular';
$comfortaa-bold: 'ComfortaaBold';

$green: #24d887;
$dark-gray: #26272d;
$gray: #8c8f94;
$light-gray: #9fa3a7;
$bluish-white: #f4f4f5;

$small-tablet-portrait: 600px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1200px;
